@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap");
@import url(https://fonts.googleapis.com/css?family=Poppins:700;);

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FEFDF5;
}

.app-header {
  background: #5fb4c9;
  border-top: 3px solid #ecd88a;
  box-shadow: 0 2px 3px rgb(0 0 0 / 18%);
  display: flex;
  height: 15vh;
  justify-content: space-between;
  padding: 1.5rem;
  position: sticky;
  top: 0;
  z-index: 2;
}

.app-logo-container {
  display: flex;
  width: 50%;
}

.app-header .header-logo {
  height: 100%;
}

.app-header h1 {
  font-display: 700;
}

.header-navbar {
  align-items: flex-end;
  display: flex;
  height: 100%;
}

.navbar-btn {
  height: 50px;
  margin: 0 0.5rem;
  display: flex;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 3px 5px;
}

.navbar-btn img {
  height: 100%;
  margin-right: 0.5rem;
}

/* Welcome Page */

.welcome-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-page img {
  width: 100%;
  height: auto;
}

/* Main Page */

.main-container {
  padding: 2rem;
}

.films-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/* Main Movie Cards */
.card {
  background-color: #5fb4c9;
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  height: 320px;
  margin: 10px;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 230px;
}

.card * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.card:after {
  background-color: white;
  opacity: 0.6;
  top: 0;
  bottom: 0;
  content: "";
  left: -100%;
  position: absolute;
  width: 100px;
  box-shadow: 0 0 100px white;
  -webkit-transform: skew(-20deg);
  transform: skew(-20deg);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.card img {
  vertical-align: top;
  height: inherit;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
}

.card figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  line-height: 1em;
  opacity: 0;
}

.card h3 {
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: 1.4em;
  font-weight: 600;
  line-height: 1.1em;
  margin: 0;
  text-transform: uppercase;
}

.card h3 span {
  font-weight: 600;
}

.card a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.card:hover>img,
.card.hover>img {
  opacity: 0.4;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.card:hover:after,
.snip1554.hover:after {
  left: 200%;
}

.card:hover figcaption,
.card.hover figcaption {
  opacity: 1;
}

.small-card {
  height: 120px;
  width: 120px;
  font-size: 10px;
  background-color: #bebec0;
}

/* Film Extended Card */
.extended-film-container {
  display: flex;
  flex-direction: row;
}

.extended-film-container .extended-card-info {
  display: flex;
  flex-direction: column;
}

.extended-poster-container {
  padding: 1rem;
}

.extended-poster-container img {
  height: 400px;
}

.extended-btn-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.container {
  width: 100%;
}

.extended-character-card {
  height: 200px;
  width: 200px;
}

.extended-character-card img {
  height: auto;
  width: fit-content;
}

.character-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}